<footer>
    <h3>Dobrovoljno vatrogasno društvo Sikirevci</h3>
    <span>OIB: 68873774377</span>
    <span>Ulica K. A. Stepinca 9, 35224 Sikirevci</span>
    <span>dvdsikirevci2@gmail.com</span>
    <span>Zapovjednik: Martin Živić 091 144 4521</span>
</footer>