---
const {title, content, image, attachment} = Astro.props

---

<article>
    <h2>{title}</h2>
    <img src={image}>
    <p>{content}</p>
</article>

<style>
    img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
</style>